:root {
    --main-bg-color: #ECEFF1;
    --main-text-color: #000000;
    --second-text-color: #625a5a;
    --second-bg-color: #ECEFF1;
}
*{
    box-sizing: border-box;
    font-size: 16px;
}
body{
    background-color: var(--main-bg-color);
}
.primary-text-color {
    color: var(--main-text-color);
}

.second-text-color {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}
#sidebar-wrapper{

    border-radius: 0 30px 30px 0;
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
    background: rgba(255, 255, 255, 0.48);
    box-shadow: 6px 4px 30px rgba(0, 0, 0, 0.1);

}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}
#userImage{
    z-index: 2;
    height: 3em;
    width: 3em;
    color: black;
}
@media (min-width: 1024px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}